.FooterContent_wrapper {
  text-align: center;
}

.FooterContent_icon {
  padding: 10px 10px;
  background-color: #313131;
  border-radius: 50%;
  color: #fff;
  margin-left: 10px;
}

.FooterContent_icon:hover {
  color: #313131;
  background-color: #a5a5a5;
}
