.nav_wide {
  background-color: #d9d9d9;
}
.nav_wide ul {
  display: flex;
  margin: 0;
  padding: 10px 0;
  justify-content: flex-end;
}

.nav_wide ul li {
  list-style-type: none;
  margin-right: 20px;
}

.nav_wide ul li a {
  color: black;
  text-decoration: none;
}

.nav_wide ul li:hover {
  background-color: #61bf85;
}
