body {
  padding: 0;
  margin: 0;
  font-family: "Didact Gothic", sans-serif;
  box-sizing: border-box;
}

.home {
  background: #fff;
}

.blog {
  background: #282c35;
}

.blogdetails {
  background: #282c35;
}
